@using Blazor.Diagrams.Components

<h3>DiagramWrapper</h3>

<div class="diagram-container">
    <CascadingValue Value="Diagram" IsFixed="true">
        <DiagramCanvas></DiagramCanvas>
    </CascadingValue>
</div>

@code {
    
}