div {
    width: 230px;
    outline: 1px solid black;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.custom-input{
    width: 100%;
}

::deep .diagram-port {
    position: absolute;
    width: 30px;
    height: 20px;
    background-color: black;
    left: 50%;
    transform: translate(-50%, -50%);
}

::deep .diagram-port.top {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    top: -10px;
}

::deep .diagram-port.bottom {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    bottom: -30px;
}